<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/incircle</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">god</property>
        <property name="connection.password">god</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <!--<mapping class="catalog.domain.model.Category"/>-->
        <!--<mapping class="catalog.domain.model.Item"/>-->
        <!--<mapping class="catalog.domain.model.Image"/>-->
        <mapping class="incircle.account.model.Account"/>
        <mapping class="incircle.account.model.AccountRole"/>
        <mapping class="incircle.domain.model.Education"/>
        <mapping class="incircle.domain.model.Work"/>
        <mapping class="incircle.domain.model.Connection"/>
    </session-factory>
</hibernate-configuration>